:root {
    --bg: #252627;
    --fg: #7E8893;
    --fg2: #596069;
    --felt: #588157;
    --felt2: #476947;
    --trim: #F9A620;
}

* {
    background-color: var(--bg);
    color: white;
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

.row {
    text-align: center;
    width: 100%;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.sideColumn {
    width: 20%;
    float: left;
    padding: 2.5%;
    background-color: var(--fg);
}

.mainColumn {
    float: left;
    width: 45%;
    padding: 2.5%;
}

#cashPot {
    width: 100%;
    min-height: 10vh;
}

#pot {
    font-size: 150%;
    font-weight: 750;
}

#communityCards {
    width: 100%;
    min-height: 25vh;
    background-color: var(--felt);
    border: solid 1px var(--trim);
}

#privateCards {
    width: 50%;
    min-height: 28vh;
    background-color: var(--fg);
    margin: 2% auto 2% auto;
}

.card {
    background-color: var(--felt2);
    width: 17%;
    float: left;
    padding: .5%;
    margin: 1%;
    height: 20vh;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
}

.mycard {
    background-color: var(--fg2);
    width: 44%;
    float: left;
    padding: 1%;
    margin: 2%;
    height: 20vh;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
}

#mydash {
    float: right;
    position: relative;
    bottom: 100px;
    left: 25px;
    margin: 1%;
    background-color: var(--fg2);
    padding: 3%;
    width: 18%;
}

#mymoney {
    float: left;
    font-size: 125%;
    background-color: var(--fg2);
    position: relative;
    top: 0px;
}

#mybutton {
    float: right;
    font-size: 125%;
    font-weight: 600;
    color: black;
    background-color: var(--felt);
    padding: 1% 9%;
}

.sideColumn h2 {
    background-color: var(--fg);
    color: black;
    margin: 0;
}

.action {
    text-align: left;
    background-color: var(--fg2);
    line-height: 200%;
    padding: 1%;
    margin: 3%;
}

.action input {
    width: 100%;
    height: 5vh;
}

.action input:active {
    background-color: var(--fg2);
}

.players {
    width: 96%;
    margin: 3%;
    padding: 1%;
    background-color: var(--fg2);
    line-height: 200%;
    overflow: hidden;
}

.names {
    width: 25%;
    margin: 3%;
    padding: 1%;
    float: left;
}

@media (min-width: 960px) {
    .moneyCount {
        width: 33%;
        margin: 3%;
        padding: 1%;
        margin-top: 10%;
        font-size: 125%;
        background-color: var(--fg2);
        position:relative;
        top: 10px;
    }
}

@media (max-width: 960px) {
    .moneyCount {
        width: 10%;
        margin: 1%;
        padding: 1%;
        margin-top: 10%;
        font-size: 100%;
        background-color: var(--fg2);
        position:relative;
        top: 5px;
    }
}

.blind {
    width: 20%;
    margin: 3%;
    padding: 1%;
    float: right;
    min-height: 30px;
}

#history {
    width: 400%;
    overflow: scroll;
    height: 28vh;
}

#history li {
    font-size: 130%;
    padding: 1%;
}