#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#game {
  display: flex;
}

#pokerTable {
  min-width: 42vw;
  min-height: 48vh;
  padding: 1%;
  margin: 2%;

  background-color: #2D5B39;
  border: 2px solid #7D8980;
  border-radius: 5%;
}

#communityPot {
  min-height: 20%;
  padding: 2% 1% 0% 1%;
}

#jackpot {
  font-size: larger;
  font-weight: 600;
}

#communityCards {
  display: flex;
  justify-content: center;
}

.card {
  min-width: 5rem;
  min-height: 8rem;
  margin: 1%;
  padding: 2%;

  background-color: #274F32;
}

#myCards {
  display: flex;
  justify-content: center;
}

#hand {
  min-width: 16vw;
  height: 25vh;
  border-radius: 5%;

  background-color: #333;
}

#myChips {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#myMoney, #myBlind {
  width: 10rem;
  height: 3rem;
  margin: 2%;
  padding: 8% 0 0 0;
  font-size: large;
  font-weight: 500;

  background-color: #242424;
}

#history {
  min-width: 21vw;
  height: 30vh;
  border-radius: 5%;
  margin: 4% 0;

  justify-content: center;

  background-color: #333;
}

#log {
  width: 90%;
  height: 80%;
  border-radius: 5%;
  list-style-type: none;

}

#players {
  min-width: 16vw;
  min-height: 30vh;
  border-radius: 5%;

  background-color: #333;
}

.player {
  background-color: #444;
  margin: 6% 2%;
  display: flex;
  justify-content: space-between;
}

#pName, #pMoney {
  min-width: 5rem;
  font-size: large;

  background-color: #666;
}

#actions {
  min-width: 21vw;
  height: 25vh;
  border-radius: 5%;

  background-color: #333;
}

menu {
  min-width: 60%;

  list-style-type: none;
}

li {
  background-color: #444;
  margin: 4% 2%;
  width: 84%;
  display: flex;
  justify-content: space-around;
}

button {
  width: 90%;
  font-size: large;
  background-color: #333;
  border-radius: 15%;
}

#submit {
  max-width: 60%;
}

#slider {
  min-width: 100%;
}

#curCall {
  max-width: 20%;
  font-size: large;
  font-weight: 500;
}